<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<body>
    <div class="container">
        <div class="wrapper">
          <div class="title"><span>Forgot Password?</span></div>
          <form action="#" (submit)="resetPassword()">
            <div class="row">
              <i class="fas fa-user" style="color: black;"></i>
              <input type="text" placeholder="Enter you Email Id" [(ngModel)]="userEmailId" name="userEmailId">
            </div>
           
            <div class="row">
              <i class="fa fa-lock" style="color: black;"></i>
              <input type="password" placeholder="Enter your Password"  [(ngModel)]="newPassword" name="newPassword">
            </div>
            <div class="row button">
                <button  type="submit" class="btn-btn-primary mt-4 w-100" >Reset Password</button>
            </div>
            <br>
            <div class="signup-link">Back to <a id="" routerLink="/login">Login</a></div>
          </form>
        </div>
      </div>
      
</body>
