<div class="container">
  <div id="banner" class="my d-flex">
    
  </div>
  <h2>Menu Item Details</h2>
  <div class="small-card">
    <mat-card>
      <img mat-card-image src="./assets/pexels-spencer-davis-4393021.jpg" alt="Image Alt Text">
      <mat-card-content>
        <mat-divider></mat-divider>
        <div class="ratings-container">
          <p class="ratings-label">Ratings: </p>
          <div class="rating-box">
            <span class="rating-number">4.5</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="content">
    <h3>{{menuItem.name}}</h3>
    <p>{{menuItem.description}}</p><br>
    <p>{{menuItem.category}}</p>
    <p style="color: red;">&#8377; 199</p>
    <div class="quantity-control">
      <button (click)="decrementQuantity()">-</button>
      <input type="number" [(ngModel)]="quantity" min="1" />
      <button (click)="incrementQuantity()">+</button>
      <button (click)="addToCart(); onViewMenuDetails(menuItem.menuItemId)" class="add-to-cart-button">Proceed to Checkout</button>
      
  
    </div>
   
  </div>
</div>