<header>
  <mat-card>
    <mat-card-content style="text-align: center;">
      <h2 style="margin-bottom: 10px;">Order history</h2>
    </mat-card-content>
  </mat-card>
</header>

<div class="row my-orders-card d-flex" >
  <div class="col justify-content-space-around">
    
  
  <mat-card class="mb-2" style="width: 500px; border: 1px solid #000000; margin-bottom: 10px; margin-right: 10px; margin-top: 10px; margin-left: 10px;" *ngFor="let order of orders">
    <mat-card-content>
      <div class="row g-0">
        <div class="col-md-4">
          <img mat-card-image src="https://static.toiimg.com/thumb/53205522.cms?imgsize=302803&width=120&height=120" alt="butterchicken" class="img-fluid rounded-start mt-2" />
        </div>
        <div class="col-md-8">
          
          <mat-card class="mb-2" style="background-color: #C0C0C0; border: 0px;">
            <mat-card-content>
              <ul class="list-group list-group-light border :0px">
                <li class="list-group-item px-3" style="background-color: #C0C0C0; color: #e63946; padding: 10px;">OrderID:{{ order.order_Id }}</li>
                <li class="list-group-item px-3" style="background-color: #C0C0C0; color: #e63946; padding: 10px;">Status: {{ order.status }}</li>
              </ul>
            </mat-card-content>
          </mat-card>
          
          
          <mat-card class="mb-2" style="width: 295px; background-color: #ffffff; margin-left: auto; border: 0px;">
            <mat-card-content>
              <ul class="list-group list-group-light border :0px">
                <div *ngFor="let item of order.items">
                  <li class="list-group-item px-3" style="background-color: #ffffff; color: #000000; padding: 5px; border-radius: 0%;">{{item.quantity }}*itemname</li>
                </div>
                <li class="list-group-item px-3" style="background-color: #ffffff; color: #000000; padding: 5px;">Price: ₹{{ order.price }}</li>
                <li class="list-group-item px-3" style="background-color: #ffffff; color: #000000; padding: 5px;">OrderDate: {{ order.createdAt | date}}</li>
              </ul>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  </div>
</div>
