<div class="card-container">
    <mat-card class="mat-elevation-z2">
        <!-- Search Bar -->
        <div class="search-bar">
            <input type="text" placeholder="Enter your location or food preferences">
            <button class="search-button">Search</button>
        </div>
        <mat-card-header>
          <mat-card-title>Welcome to the Lunchsy✌✌</mat-card-title>
          <span class="flex-spacer"></span> <!-- Create a spacer to push Login to the right -->
          <a routerLink="/login" class="button-link">Login </a>
        </mat-card-header>
        <mat-card-content>
            <!-- Main Content Container -->
            <div class="content">
                <!-- Hero Banner -->
                <div class="hero-banner">
                <img src="./assets/AlluArjun.jpg" alt="Delicious Food Image" class="x">
                <div class="hero-content">
                    <p>Order your favorite food online and enjoy quick delivery.</p>
                </div>
                </div>
            </div>
            <!-- Image on the Right -->
            <img src="right-image.jpg" alt="Right Image" class="right-image">
        </mat-card-content>
        
          <!-- Footer -->
        <footer class="footer">
            <!-- App Download and Social Media Links -->
            <div class="download-links">
            <a href="/app-download" class="cta-button">Download the App</a>
            <div class="social-media-links">
                <a href="https://facebook.com/fooddelight" target="_blank">Facebook</a>
                <a href="https://twitter.com/fooddelight" target="_blank">Twitter</a>
                <a href="https://instagram.com/fooddelight" target="_blank">Instagram</a>
            </div>
            </div>

            <div class="customer-support">
            <p>Customer Support: Call us at 1-800-123-4567 | Email: support@fooddelight.com</p>
            </div>
            <div class="footer-links">
            <a href="/about">About Us</a> | <a href="/faq">FAQ</a> | <a href="/terms">Terms and Conditions</a> | <a href="/privacy">Privacy Policy</a>
            </div>
        </footer>
      </mat-card>   
</div>
  
